.descriptions{
    height: 100%;
    width: 100%;
    padding: 2%;
    background-color: white;
}
.descriptions h2{
    font-size: 2.5em;
    color: rgb(3, 154, 247);
}
.des{
    width: 80%;
    height: 60%;
    margin: 0 auto;
    margin-top: 4em;
    text-align: start;
}
.descriptions .navbtn{
    width: 100%;
    height: 20%;
    padding: 1em;
    display: flex;
    justify-content: right;
}
.des .car{
    width: 350px;
}
.des .car img{
    height: 150px;
}
@media screen and (max-width: 800px) {
    .des{
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 2em;
    }
    .des .car{
        width: 120%;
    }
    .des .car img{
        width: 100%;
        height: 150px;
    }
    .descriptions .navbtn{
        width: 100%;
        height: 20%;
        padding: 1em;
        display: flex;
        justify-content: right;
    }
    .descriptions .navbtn{
        display: none;
    }
}